.panel-heading {
  position: sticky; 
  top: 0;
}

.panel-body {
  padding:0;
  border:0px;
  height:450px;
  overflow-y:auto;
}

.panel-footer {
  position: sticky;
  bottom: 0;
  height:80px
}

.logo-heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
}

.sushi-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
}